/* BASE STYLING */
body {
  font-family: "Press Start 2P", cursive;
  // background: url("../images/shiba-bg-3.jpeg") repeat;
  // background: url("../images/shiba-with-woman.jpeg") no-repeat bottom right;
}

.container {
  width: 450px;
  margin: 0 auto;
}
