/* BASE STYLING */
body {
  font-family: "Press Start 2P", cursive;
  background: url("../images/shiba-bg-pattern.png") repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 450px;
  background-color: #c9e4ca;
  padding: 5px 20px;
  border-radius: 5px;
}
