/* CANVAS */
#canvas {
  width: 100%;
  position: relative;
}

canvas {
  border-radius: 5px;
}

p.welcomeText,
p.endText {
  color: #f6f6f6;
  line-height: 1.5rem;
}

p.welcomeText {
  margin: 100px 0 0 25px;
  width: 400px;
  height: 220px;
}
p.endText {
  margin: 100px 0 0 25px;
  width: 400px;
  height: 220px;
}
