/* BASE STYLING */
body {
  font-family: "Press Start 2P", cursive;
  background: url("../images/shiba-bg-pattern.png") repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 450px;
  background-color: #c9e4ca;
  padding: 5px 20px;
  border-radius: 5px;
}

/* FONT STYLING */
h1 {
  text-align: center;
  font-size: 1.9rem;
  margin: 1.5rem 0;
}

p.welcomeText,
p.endText {
  color: #f6f6f6;
  line-height: 1.5rem;
}

p.welcomeText {
  margin: 100px 0 0 25px;
  width: 400px;
  height: 220px;
}

p.endText {
  margin: 100px 0 0 25px;
  width: 400px;
  height: 100px;
}

/* CANVAS */
#canvas {
  width: 100%;
  position: relative;
}

canvas {
  border-radius: 5px;
}

/* PANEL */
#panel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1.2rem;
}

#panel .emoji {
  position: relative;
  bottom: 0.2rem;
  left: 0.7rem;
}

#panel > * {
  margin: 0 15px;
}

#panel #sound {
  padding-bottom: 5px;
  cursor: pointer;
}
