/* BASE STYLING */
body {
  font-family: "Press Start 2P", cursive;
  background: url("../images/shiba-bg-pattern.png") repeat;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 450px;
  background-color: #c9e4ca;
  margin-top: 20px;
  padding: 5px 20px;
  border-radius: 5px;
}

/* FONT STYLING */
h1 {
  text-align: center;
  font-size: 1.9rem;
  margin: 1.5rem 0;
}

p.welcomeText,
p.endText {
  color: #f6f6f6;
  line-height: 1.5rem;
}

p.welcomeText {
  width: 400px;
  height: 220px;
}

p.endText {
  width: 400px;
  height: 100px;
}

button {
  padding: 5px 20px;
  font-family: "Press Start 2P", cursive;
}

#credits {
  font-size: 0.3rem;
  line-height: 0.9rem;
  max-width: 450px;
  margin: 0;
}

/* CANVAS */
#canvas {
  width: 100%;
  position: relative;
}

canvas {
  border-radius: 5px;
}

/* PANEL */
#panel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1.2rem;
}

#panel span {
  position: relative;
  left: -0.6rem;
}

#panel > *:not(:last-child) {
  margin-right: 15px;
}

#panel #sound {
  padding-bottom: 5px;
  cursor: pointer;
}
